<div class="image-list-scale" xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me">
    <ul class="list-inline clearfix row">
        <!--/*@thymesVar id="dataList" type="java.util.List<com.huotu.hotcms.service.model.GalleryItemModel>"*/-->
        <li th:each="item:${dataList}">
            <span class="center-block">
                <a th:if="${item.relationalUrl!=null}" href="http://www.huobanplus.com" th:href="${item.relationalUrl}">
                    <img class="center-block" res:src="${item.thumbUri}"
                         src="http://cdn73.huobanplus.com/cms/gallery/141/c0368337-10b5-449c-8c53-600e74533669.png">
                </a>
                <img th:if="${item.relationalUrl==null}" class="center-block" res:src="${item.thumbUri}"
                     src="http://cdn73.huobanplus.com/cms/gallery/141/c0368337-10b5-449c-8c53-600e74533669.png">
            </span>
        </li>
        <li th:remove="all">
            <span class="center-block">
                <img class="center-block"
                     src="http://cdn73.huobanplus.com/cms/gallery/141/295628e9-0d82-4b11-85f5-ea916f8750eb.png">
            </span>
        </li>
        <li th:remove="all">
            <span class="center-block">
                <img class="center-block"
                     src="http://cdn73.huobanplus.com/cms/gallery/141/c086bba8-b0d8-4455-a6b7-ef5443ccdd13.png">
            </span>
        </li>
    </ul>
</div>