<!--预览视图-->
<!--介绍：该样式主要显示多图，图片是领导人握手啊，旅游啊什么的-->
<div xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me" class="image-text-list">
    <!--/*@thymesVar id="serial" type="java.lang.String"*/-->
    <!--/*@thymesVar id="count" type="java.lang.Number"*/-->
    <!--/*@thymesVar id="dataList" type="java.util.List<com.huotu.hotcms.service.model.GalleryItemModel>"*/-->
    <ul class="list-inline clearfix">
        <li th:each="item:${dataList}">
            <a th:if="${item.relationalUrl!=null}" href="http://www.huobanplus.com" th:href="${item.relationalUrl}">
                <img res:src="${item.thumbUri}" class="img-responsive center-block"/>
            </a>
            <img th:if="${item.relationalUrl==null}" res:src="${item.thumbUri}" class="img-responsive center-block"/>
        </li>
    </ul>
</div>
<!--/预览视图-->