<!--预览视图-->
<!--介绍：该样式主要显示多图，图片是领导人握手啊，旅游啊什么的-->
<div xmlns:th="http://www.thymeleaf.org" class="image-text-list image-text-list-item-sf">
    <!--/*@thymesVar id="serial" type="java.lang.String"*/-->
    <!--/*@thymesVar id="count" type="java.lang.Number"*/-->
    <ul class="list-inline clearfix">
        <li th:each="item:${@cmsDataSourceService.findGalleryItems(serial,count)}">
            <img th:src="${item.thumbUri}" class="list-inline clearfix"/>
        </li>
    </ul>
</div>
<!--/预览视图-->